<?xml version="1.0" encoding="windows-1252"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
 http://www.springframework.org/schema/security
 http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    


</beans:beans>

<authentication-manager>
    <authentication-provider>
        <user-service>
            <user name="user" 
                  password="user" 
                  authorities="ROLE_USER" />
            <user name="admin" 
                  password="admin" 
                  authorities="ROLE_USER, ROLE_ADMIN" />
        </user-service>
    </authentication-provider>
</authentication-manager>

<http pattern="/login" security="none" />
<http pattern="/css/**" security="none" />
<http pattern="/js/**" security="none" />
<http pattern="/fonts/**" security="none" />

<http auto-config="true">
    <form-login login-processing-url="/j_spring_security_check"
                login-page="/login"
                authentication-failure-url="/login?login_error=1"/>

    <intercept-url pattern="/"
                   access="IS_AUTHENTICATED_ANONYMOUSLY"/>     
    <intercept-url pattern="/home" 
                   access="IS_AUTHENTICATED_ANONYMOUSLY"/>
    <intercept-url pattern="/content" 
                   access="ROLE_USER"/>
    <intercept-url pattern="/admin" 
                   access="ROLE_ADMIN"/>        
    <intercept-url pattern="/**"
                   access="ROLE_USER"/> 
</http>

<beans:bean id="webexpressionHandler" 
            class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>